/* Home page */ 

body {
    background-color:$back-gd;
    @include container;
}

p {
    color: white;
    font-size: 2rem;
}

.site-content {
    width: 100%;
    padding-top: 50px;
    .content-area {
        display: flex;
        flex-direction: row;
        .center-content {
            min-width: 800px;
            margin: 0 20px;
            text-align: center;
            article {
                text-align: start;
            }
            button {
                padding: 15px 30px;
                color: $green;
                background-color: $back-gd;
                box-shadow: none;
                text-shadow: none;
                border: 2px solid $green;
                font-size: 20px;
            }
        }
        &::before {
            font-family: "FontAwesome"; 
            font-weight: 400; 
             content: "\f10d";
             font-size: 150px;
             color: $green;
        }
        &::after {
            font-family: "FontAwesome"; 
            font-weight: 400; 
             content: "\f10e";
             font-size: 150px;
             color: $green;
        }
    }
}

.entry-meta {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: white;
    a {
        text-decoration: none;
        color: $green;
    }
}
